nav.navbar {
  border-radius: 0px;
}

xword .alert {
  margin-top: 20px;
}

.puzzle {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 20px;
  background-color: #eee;
}

.puzzle-rows {
  margin-right: 20px;
}

.puzzle-square {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.puzzle-square.highlight {
  border: 1px solid blue;
}

.puzzle-square.filled {
  background-color: #333;
}

.puzzle-number {
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 2px;
}

input.puzzle-value {
  height: 100%;
  width: 100%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

input.puzzle-value.autocompleted {
  color: blue;
}

.clue-number {
  min-width: 24px;
  display: inline-block;
}

.clue input.clue-letter {
  width: 20px;
  height: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-right: 4px;
  text-align: center;
}

.clue input.clue-prompt {
  border: none;
  border-bottom: 1px solid #ccc;
  height: 20px;
  margin-top: 6px;
  padding: 0px;
}

.clue {
  margin-bottom: 10px;
}
